/*
NO rtl styles for this component
@media (orientation : landscape) {
  div.ticket-container-rtl{
    float: right;
  }
  div.button-container-rtl{
    float: right;
  }
}*/
.reklama{
  width:48%;
  max-height:120px;
  background: #ccc;
  margin-right: 2rem;
}
