/*
NO rtl styles for this component
@media (orientation : landscape) {
  div.ticket-container-rtl{
    float: right;
  }
  div.button-container-rtl{
    float: right;
  }
}*/
.reklama{
  min-width: 60px;
  min-height: 50px;
  max-width:100;
  max-height:400;
  background: #ccc;
}
